<html>
    <head th:replace="layout/plantilla :: head">
        <title>Fragmentoreserva</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_USER')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarReserva">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>


        <section th:fragment="listadoReservas" id="reservas">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{reserva.titulo}]]</h4>
                            </div>
                            <div th:if="${reservas != null and !reservas.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{reserva.nombre}">Nombre</th>
                                            <th th:text="#{reserva.apellidos}">Apellidos</th>
                                            <th th:text="#{reserva.correo}">Correo</th>
                                            <th th:text="#{reserva.fecha}">Fecha de Reserva</th>
                                            <th th:text="#{reserva.descripcion}">Descripcion</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="reserva, contador : ${reservas}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${reserva.nombre}]]</td>
                                            <td>[[${reserva.apellidos}]]</td>
                                            <td>[[${reserva.correo}]]</td>
                                            <td>[[${reserva.fechaReserva}]]</td>
                                            <td>[[${reserva.descripcion}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/reserva/eliminar/}+${reserva.idReserva}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/reserva/modificar/}+${reserva.idReserva}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${reservas == null or reservas.empty}">
                                <span th:text="#{reserva.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>


                    <div class="card text-center bg-success text-white mb-3">
                        <div class="card-body">
                            <h3 th:text="#{reserva.totalReservas}">Total Reservas</h3>
                            <h4 class="display-4">
                                <i class="fas fa-users"></i> [[${totalReservas}]]
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section th:fragment="agregarReserva">
        <div id="agregarReserva" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Reserva</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div> 
                    <form th:action="@{/reserva/guardar}" th:object="${reserva}"
                          method="POST" class="was-validated">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="nombre" th:text="#{reserva.nombre}">Nombre</label>
                                <input type="text" class="form-control" name="nombre" required="true">
                            </div>
                            <div class="form-group">
                                <label for="apellidos" th:text="#{reserva.apellidos}">Apellidos</label>
                                <input type="text" class="form-control" name="apellidos" required="true">
                            </div>
                            <div class="form-group">
                                <label for="correo" th:text="#{reserva.correo}">Correo</label>
                                <input type="email" class="form-control" name="correo" required="true">
                            </div>
                            <div class="form-group">
                                <label for="fechaReserva" th:text="#{reserva.fecha}">Fecha de Reserva</label>
                                <input type="date" class="form-control" name="fechaReserva" required="true">
                            </div>
                            <div class="form-group">
                                <label for="descripcion" th:text="#{reserva.descripcion}">Descripcion</label>
                                <input type="text" class="form-control" name="descripcion" required="true">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>


    <section th:fragment="editarReserva">            
        <form method="POST"
              th:action="@{/reserva/guardar}"
              th:object="${reserva}"
              class="was-validated">
            <input type="hidden" name="idReserva" th:field="*{idReserva}"/>
            <section th:replace="reserva/fragmentosReserva :: botonesEditar"/> 
            <div id="details">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h4>[[#{accion.actualizar}]]</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="nombre" th:text="#{reserva.nombre}">Nombre: </label>
                                        <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="apellidos" th:text="#{reserva.apellidos}">Apellidos: </label>
                                        <input type="text"  class="form-control" name="apellidos" th:field="*{apellidos}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="correo" th:text="#{reserva.correo}">Correo</label>
                                        <input type="text" class="form-control" name="correo" th:field="*{correo}">
                                    </div>
                                    <div class="form-group">
                                        <label for="fechaReserva" th:text="#{reserva.fecha}">Fecha de Reserva</label>
                                        <input type="text" class="form-control" name="fechaReserva" th:field="*{fechaReserva}">
                                    </div>
                                    <div class="form-group">
                                        <label for="descripcion" th:text="#{reserva.descripcion}">Descripcion</label>
                                        <input type="text" class="form-control" name="descripcion" th:field="*{descripcion}">
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
    </section>


    <section th:fragment="botonesEditar">
        <div id="actions" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a th:href="@{/reserva/listado}" class="btn btn-ligth btn-block">
                            <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                        </a>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-check"></i> [[#{accion.guardar}]]
                        </button>
                    </div>
                    <div class="col-md-3">
                        <a th:href="@{/reserva/eliminar/}+${reserva.idReserva}"
                           class="btn btn-danger btn-block">
                            <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>