<html>
    <head th:replace="layout/plantilla :: head">
        <title>Fragmentoemergencia</title>
    </head>
    <body>
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3" sec:authorize="hasRole('ROLE_USER')">   
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            data-bs-toggle="modal" 
                            data-bs-target="#agregarEmergencia">
                            <i class="fas fa-plus"></i> [[#{accion.agregar}]]
                        </button>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section th:fragment="listadoEmergencias" id="emergencias">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{emergencia.titulo}]]</h4>
                            </div>
                            <div th:if="${emergencias != null and !emergencias.empty}">
                                <table class="table table-stryped">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>#</th>
                                            <th th:text="#{emergencia.nombre}">Nombre</th>
                                            <th th:text="#{emergencia.apellidos}">Apellidos</th>
                                            <th th:text="#{emergencia.emergencia}">Emergencia</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="emergencia, contador : ${emergencias}">
                                            <td>[[${contador.count}]]</td>
                                            <td>[[${emergencia.nombre}]]</td>
                                            <td>[[${emergencia.apellidos}]]</td>
                                            <td>[[${emergencia.detalle}]]</td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/emergencia/eliminar/}+${emergencia.idEmergencia}"
                                                   class="btn btn-danger">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.eliminar}]]
                                                </a>
                                            </td>
                                            <td>
                                                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/emergencia/modificar/}+${emergencia.idEmergencia}"
                                                   class="btn btn-success">
                                                    <i class="fas fa-angle-double-right"></i> [[#{accion.actualizar}]]
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center p-2" th:if="${emergencias == null or emergencias.empty}">
                                <span th:text="#{emergencia.no_mostrar}">Lista vacía</span>
                            </div>
                        </div>
                    </div>
                    

                        <div class="card text-center bg-success text-white mb-3">
                            <div class="card-body">
                                <h3 th:text="#{emergencia.totalEmergencias}">Total Emergencias</h3>
                                <h4 class="display-4">
                                    <i class="fas fa-users"></i> [[${totalEmergencias}]]
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section th:fragment="agregarEmergencia">
            <div id="agregarEmergencia" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" th:text="#{accion.agregar}">Agregar Emergencia</h5>
                             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div> 
                        <form th:action="@{/emergencia/guardar}" th:object="${emergencia}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="nombre" th:text="#{emergencia.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="apellidos" th:text="#{emergencia.apellidos}">Apellidos</label>
                                    <input type="text" class="form-control" name="apellidos" required="true">
                                </div>
                                <div class="form-group">
                                    <label for="detalle" th:text="#{emergencia.emergencia}">Emergencia</label>
                                    <input type="text" class="form-control" name="detalle" required="true">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        
        <section th:fragment="editarEmergencia">            
            <form method="POST"
                  th:action="@{/emergencia/guardar}"
                  th:object="${emergencia}"
                  class="was-validated">
                <input type="hidden" name="idEmergencia" th:field="*{idEmergencia}"/>
                <section th:replace="emergencia/fragmentosEmergencia :: botonesEditar"/> 
                <div id="details">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>[[#{accion.actualizar}]]</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="nombre" th:text="#{emergencia.nombre}">Nombre: </label>
                                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="apellidos" th:text="#{emergencia.apellidos}">Apellidos: </label>
                                            <input type="text"  class="form-control" name="apellidos" th:field="*{apellidos}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="detalle" th:text="#{emergencia.emergencia}">Detalle de la Emergencia</label>
                                            <input type="text"  class="form-control" name="detalle" th:field="*{detalle}"/>
                                        </div>                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
                
                
        <section th:fragment="botonesEditar">
            <div id="actions" class="py-4 mb-4 bg-light">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:href="@{/emergencia/listado}" class="btn btn-ligth btn-block">
                                <i class="fas fa-arrow-left"></i> [[#{accion.regresar}]]
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a th:href="@{/emergencia/eliminar/}+${emergencia.idEmergencia}"
                               class="btn btn-danger btn-block">
                                <i class="fas fa-trash"></i> [[#{accion.eliminar}]]
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                
    </body>
</html>